# frontend
frontend/node_modules
frontend/dist

# backend
backend/target

# environment
.env
.env.local
.env.production.local
.env.development.local

# logs
*.log

# OS files
.DS_Store
Thumbs.db
.vercel
