HELP.md

# Maven / Spring Boot
target/
backend/target/
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
frontend/node_modules/

# Logs
*.log

# VS Code
.vscode/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# OS Files
.DS_Store
Thumbs.db